<script type="text/javascript">
tx_helfenkannjeder_organisation_pictures = new Array();
<f:for each="{rotatingPictures}" key="organisationtype" as="pictures">
tx_helfenkannjeder_organisation_pictures[{organisationtype}] = new Array();
<f:for each="{pictures}" key="num" as="picture">tx_helfenkannjeder_organisation_pictures[{organisationtype}][{num}] = "{picture}";
</f:for>
</f:for>
</script>
<script type="text/javascript" src="{f:uri.resource(path: 'Scripts/Picture.js')}"></script>
<div style="background-image: url({f:uri.resource(path: 'Images/polaroid_background.png')});padding-top:18px;padding-left:14px;padding-right:26px;padding-bottom:29px;background-repeat:no-repeat;width:300px;">
<div style="width:260px;height:183px;" id="tx_helfenkannjeder_picturerotating_box">
	<div style="position:absolute;width:260px;height:183px">
	<img src="{f:uri.resource(path:'Images/blank.gif')}" style="width:260px; height:183px;" id="tx_helfenkannjeder_picturerotating_picture1" />
	</div>
	<div style="position:absolute;width:260px;height:183px">
	<img src="{f:uri.resource(path:'Images/blank.gif')}" style="width:260px; height:183px;" id="tx_helfenkannjeder_picturerotating_picture2" />
	</div>

</div>
</div>
