<br />
<ul class="helfen_kann_jeder_register_progress_steps">
	<li class="helfen_kann_jeder_register_progress_finished">{f:translate(key: 'register_step1')}</li>
	<li {f:if(condition: '{step} > 1', then:'class="helfen_kann_jeder_register_progress_finished"')}{f:if(condition: '{step} == 1', then:'class="helfen_kann_jeder_register_progress_next_step"')}>{f:translate(key: 'register_step2')}</li>
	<li {f:if(condition: '{step} > 2', then:'class="helfen_kann_jeder_register_progress_finished"')}{f:if(condition: '{step} == 2', then:'class="helfen_kann_jeder_register_progress_next_step"')}>{f:translate(key: 'register_step3')}</li>
	<li {f:if(condition: '{step} > 3', then:'class="helfen_kann_jeder_register_progress_finished"')}{f:if(condition: '{step} == 3', then:'class="helfen_kann_jeder_register_progress_next_step"')}>{f:translate(key: 'register_step4')}</li>
	<li {f:if(condition: '{step} > 4', then:'class="helfen_kann_jeder_register_progress_finished"')}{f:if(condition: '{step} == 4', then:'class="helfen_kann_jeder_register_progress_next_step"')}>{f:translate(key: 'register_step5')}</li>
	<li {f:if(condition: '{step} > 5', then:'class="helfen_kann_jeder_register_progress_finished"')}{f:if(condition: '{step} == 5', then:'class="helfen_kann_jeder_register_progress_next_step"')}>{f:translate(key: 'register_step6')}</li>
	<li {f:if(condition: '{step} > 6', then:'class="helfen_kann_jeder_register_progress_finished"')}{f:if(condition: '{step} == 6', then:'class="helfen_kann_jeder_register_progress_next_step"')}>{f:translate(key: 'register_step7')}</li>
	<li {f:if(condition: '{step} > 7', then:'class="helfen_kann_jeder_register_progress_finished"')}{f:if(condition: '{step} == 7', then:'class="helfen_kann_jeder_register_progress_next_step"')}>{f:translate(key: 'register_step8')}</li>
</ul>
<br />
<br />
