{namespace hkj=Tx_HelfenKannJeder_ViewHelpers}
	<div id="helfen_kann_jeder_register_contactperson">
<f:if condition="{step} < 40">
<strong>{f:translate(key: 'register_guide')}</strong><br />
<f:link.page pageUid="{settings.page.register.guide}">{f:translate(key: 'register_guide_text')}</f:link.page><br />
<br />
</f:if>
<f:if condition="{step} >= 40">
<strong>{f:translate(key: 'register_right_login')}</strong><br />
{f:translate(key: 'register_right_username')}: {frontendUser.username}<br />
<f:link.page additionalParams="{logintype: 'logout'}" linkAccessRestrictedPages="true">{f:translate(key: 'register_right_logout')}</f:link.page><br />
<br />
</f:if>
<f:if condition="{objectEdit}">
<br />
<strong>{f:translate(key: 'register_supporter')}</strong><br />

<hkj:image.first path="uploads/pics/" src="{objectEdit.supporter.image}" alt="{objectEdit.supporter.name}" width="195" /><br />
Name: {objectEdit.supporter.name}<br />
<f:if condition="{objectEdit.supporter.telephone}">Telefon: {objectEdit.supporter.telephone}<br /></f:if>
<f:if condition="{objectEdit.supporter.email}">E-Mail: <a href="mailto:{objectEdit.supporter.email}">{objectEdit.supporter.email}</a><br /></f:if>
<f:if condition="{step} == 40">
<br />
<br />
<strong>{f:translate(key: 'register_step40_map')}</strong><br />
<div id="organisationAddressContainerMap"> </div>
</f:if>
</f:if>
	</div>

