<table width="100%">
	<tr>
		<th>{f:translate(key: 'support.organisationdraft.name')}</th>
		<th>{f:translate(key: 'support.organisationdraft.tstamp')}</th>
		<th>{f:translate(key: 'support.feuser.realname')}</th>
	</tr>
<f:groupedFor each="{organisationDrafts}" as="organisationGroupRequested"  groupBy="request" groupKey="request">
	<tr>
		<th><f:translate key="support.requestnum.{request}">{request}</f:translate></th>
	</tr>
<f:for each="{organisationGroupRequested}" as="organisationDraft">
	<tr>
		<td><f:format.crop maxCharacters="40">{organisationDraft.name}</f:format.crop> (ID: {organisationDraft.uid})</td>

		<td><f:format.date format="d.m.Y">{organisationDraft.tstamp}</f:format.date></td>
		<td><f:link.action action="write" arguments="{writeTo : organisationDraft.feuser}" title="{f:translate(key: 'support.sendMessage')}" pageUid="{settings.page.messaging}" controller="Message" extensionName="QuMessaging" pluginName="Message"><f:format.crop maxCharacters="17">{organisationDraft.feuser.lastName}, {organisationDraft.feuser.firstName}</f:format.crop></f:link.action></td>
		<td><f:if condition="{organisationDraft.request}%2">
			<f:then>
			<f:link.action action="view" arguments="{organisationDraft: organisationDraft}"><f:image src="{f:uri.resource(path:'Images/pencil.png')}" alt="{f:translate(key: 'support.organisation.view')}" /></f:link.action>
			</f:then>
			<f:else>
			<f:link.action action="view" arguments="{organisationDraft: organisationDraft}"><f:image src="{f:uri.resource(path:'Images/magnifier.png')}" alt="{f:translate(key: 'support.organisation.view')}" /></f:link.action>
			</f:else>
			</f:if></td>
	</tr>
</f:for>
	<tr>
		<td colspan="4"><hr /></td>
	</tr>
</f:groupedFor>
</table>
