{namespace hkj=Querformatik\HelfenKannJeder\ViewHelpers}
<script type="text/javascript">
var addr = "{f:uri.action(action:'ajaxorganisation', pageType: 1306362737)}";
var addr_autocomplete = "{f:uri.action(action:'autocomplete', pageType: 1306362737)}";

window.onload = function () {
	tx_helfenkannjeder_set_organisation(tx_helfenkannjeder_organisation_current);

//document.getElementById("activities").disabled = false;
document.getElementById("activityfields").disabled = true;
activities = new Array(
<f:for each="{activities}" as="activity" key="activity_num">	"{activity.name}",
</f:for>
	undefined
);

activities_ids = new Array(
<f:for each="{activities}" as="activity" key="activity_num">	{activity.uid}, </f:for> undefined
);


field_activityfields = new Array(
<f:for each="{activityfields}" as="activityfield" key="activityfield_num"> "{activityfield.name}",
</f:for>
	undefined
);

description_activityfields = new Array(
<f:for each="{activityfields}" as="activityfield" key="activityfield_num"> "{activityfield.description -> hkj:bbcode.nolinebreak()}",
</f:for>
	undefined
);

activityfields_ids = new Array(
<f:for each="{activityfields}" as="activityfield" key="activityfield_num">	{activityfield.uid}, </f:for> undefined
);

activities_activityfields = { 
<f:for each="{activities}" as="activity" key="activity_num"> a{activity.uid}: [<f:for each="{activityfields}" as="activityfield" iteration="actit"><f:if condition="{hkj:storage.contains(storage: activityfield.activities, object:activity)}">{activityfield.uid}, </f:if></f:for> null ],
</f:for>
	nothingelese: null
};

generatorErrorMessageNothingFound = "{f:translate(key: 'generator_error_nothing_found')}";
	citysignStartup(false, false);

	restoreActivitiesFromCookie();


}
</script>
<div class="helfen_kann_jeder_generator_background" id="helfen_kann_jeder_generator_background" style="background-image:url({f:uri.resource(path:'Images/generator_arrow.png')});">
	<div class="helfen_kann_jeder_generator_step12" id="helfen_kann_jeder_generator_step12">
		<div class="helfen_kann_jeder_generator_step12_image"><f:image src="{f:uri.resource(path:'Images/generator_first.png')}" alt="{f:translate(key: 'generator_first')}" /></div>
		<div class="helfen_kann_jeder_generator_step12_text">{f:translate(key: 'generator_first_text')}</div>
		<div style="clear:both;"></div>
		<div style="padding-left:30px;padding-top:14px;">
			<strong>{f:translate(key: 'generator_sentence_first')}</strong><br /><br />
			<input style="float:left" id="helfen_kann_jeder_search_field" onKeyUp="hkjautocomplete(this.value);" class="helfen_kann_jeder_activity_input" />
			<span style="float:left;cursor:pointer" onclick="generator_display_list();"><f:image src="{f:uri.resource(path:'Images/generator_arrow_small.png')}" alt="{f:translate(key: 'list_all')}" id="helfen_kann_jeder_search_button1" /></span>
			<br style="clear:both" />
			<div id="helfen_kann_jeder_search_result" style="display:none">
				<ul id="helfen_kann_jeder_search_result_list_dynamic" style="display:none">
				</ul>
				<ul id="helfen_kann_jeder_search_result_list_all">
<f:for each="{activities}" as="activity" key="activity_num">
				<li onclick="new_activity({activity.uid});" id="helfen_kann_jeder_activity_lis2_{activity.uid}">{activity.name}<f:if condition="{activity.description}"> <a href="#" class="show-tooltip-extend" id="helfen_kann_jeder_activity_id_static_{activity.uid}" onclick="return false;">?</a></f:if></li>
</f:for>
				</ul>
			</div>
			<div id="activities_list_div"><ul id="activities_list_ul"></ul></div>
		</div>
	</div>
<f:for each="{activities}" as="activity" key="activity_num">
	<span class="show-tooltip-text" id="helfen_kann_jeder_activity_id_static_{activity.uid}_help">{activity.description}</span>
</f:for>
	<div class="helfen_kann_jeder_generator_step12" id="helfen_kann_jeder_generator_step2">
		<div class="helfen_kann_jeder_generator_step12_image"><f:image src="{f:uri.resource(path:'Images/generator_second.png')}" alt="{f:translate(key: 'generator_second')}" /></div>
		<div class="helfen_kann_jeder_generator_step12_text">{f:translate(key: 'generator_second_text')} <a title="{f:translate(key: 'generator_second_help') -> f:format.nl2br()}" class="show-tooltip" href="#" onclick="return false;">?</a></div>
		<div style="clear:both;"></div>
		<div style="padding-left:60px;padding-top:14px;">
<f:section name="activityclasses"> <f:for each="{activities}" as="activity">helfen_kann_jeder_display_{activity.uid} </f:for> </f:section>
			<strong>{f:translate(key: 'generator_sentence_second')}</strong><br /><br />
			<select id="activityfields" onChange="new_activity_field(this.value);" disabled="disabled" style="width:243px">
				<option value="-1">{f:translate(key: 'generator_please_choose')}</option>
<f:for each="{activityfields}" as="activityfield" key="activityfield_num">
				<option value="{activityfield.uid}" title="{activityfield.description}" id="option_activityfield_{activityfield.uid}" class="{f:render(section:"activityclasses", arguments:{activities: activityfield.activities})}" style="display:none">{activityfield.name}</option>
</f:for>
			</select>
			<div id="activityfields_list_div">
				<ul id="activityfields_list_ul">
				</ul>
			</div>
		</div>
	</div>
	<div style="clear:both;"></div>
	<f:render partial="Organisation/ResultList" arguments="{visible: 0, param: '{0:0, 1:1, 2:2, 3:3, 4:4, 5:5, 6:6, 7:7, 8:8, 9:9}'}" />
</div>
