<f:layout name="register" />
<f:section name="content">
<f:render partial="UploadForm" arguments="{organisation: objectEdit, uploadUriAction: 'upload', internetexplorer: internetexplorer, uploadUriController: 'Register', uploadUriPluginName: 'List', uploadUriExtensionName: 'HelfenKannJeder', uploadUriPageUid: uploadPageUid, uploadUriPageType: 1326560582, uploadUriArguments: '{organisation: registerOrganisationProgress.organisation, session: sessionid}'}" />
<f:render partial="SortPictures" arguments="{pictures: registerOrganisationProgress.organisation.pictures, imageFolder: imageFolder}" />
<f:form.hidden property="pictures" id="organisation_register_pictures" />
</f:section>
