<form onsubmit="hkjChangeLocation($('#hkj_location_city').val(), '#hkj_location_error_', '.hkj_location_error');return false;">
<div class="hkj_location_error" style="display:none" id="hkj_location_error_1">{f:translate(key: 'citysign_error_not_ka')}</div>
<div class="hkj_location_error" style="display:none" id="hkj_location_error_2">{f:translate(key: 'citysign_error_not_found')}</div>
<div class="hkj_location_error" style="display:none" id="hkj_location_error_3">{f:translate(key: 'citysign_error_technical')}</div>
{f:translate(key: 'living_place')}:<br />
<input type="text" id="hkj_location_city" /><br />
<input type="submit" value="{f:translate(key: 'filter_result')}" />
</form>
