{namespace hkj=Tx_HelfenKannJeder_ViewHelpers}
<f:layout name="backend" />
<f:section name="content">
<f:form action="index" enctype="multipart/form-data">
<f:flashMessages id="error" /><br />

ORGANISATION: <f:form.select options="{organisationTypes}" name="organisationType" optionValueField="uid" optionLabelField="name" value="{organisationType}" />
ZIPCODE: <f:form.textfield name="zipcode" value="{zipcode}" /><br />
<f:form.submit value="GET INFO" />
<br />
<br />
<h2>SEARCHED GROUPS IN SEARCH ORDER:</h2>
<ul>
<f:for each="{searchedGroups}" as="groupName">
	<li>{groupName}</li>
</f:for>
</ul>
<h2>FOUND SUPPORTER IN LAST LEVEL:</h2>
<ul>
<f:for each="{allSupporter}" as="supporter">
	<li>{supporter.username} ({supporter.firstName} {supporter.lastName}), {supporter.email}<br />
<f:if condition="{supporter.image}">
		<f:image src="uploads/pics/{supporter.image}" alt="{supporter.name}" width="195" />
</f:if>
	</li>
</f:for>
</ul>
</f:form>
</f:section>
