{namespace hkj=Tx_HelfenKannJeder_ViewHelpers}
<f:layout name="backend" />
<f:section name="content">
<f:form action="registerLink">
<f:flashMessages id="error" /><br />
MAIL: <f:form.textfield name="mail" value="{mail}" /><br />
<f:form.submit value="SEND" />
</f:form>
<f:if condition="{registerOrganisationProgresses}">
<f:for each="{registerOrganisationProgresses}" as="registerOrganisationProgress">
<f:if condition="{registerOrganisationProgress.mailHash}">
<hkj:be.link.pagePath parameters="{tx_helfenkannjeder_list: {registerOrganisationProgress: registerOrganisationProgress.uid, hash: registerOrganisationProgress.mailHash, action: 'sendstep32', controller: 'Register'}}">{settings.registerOrganisationStepsPart2}</hkj:be.link.pagePath><br />
</f:if>
</f:for>
</f:if>
</f:section>
