<div style="background-image: url({f:uri.resource(path: 'Images/employee_background.png')});padding-top:24px;padding-left:29px;padding-right:14px;padding-bottom:19px;background-repeat:no-repeat;float:left;">
<div style="width:61px;height:74px;" id="tx_helfenkannjeder_employee_box"><img src="{rotatingEmployees.0.picture}" />
</div>
</div>
<div style="width:256px;height:117px;float:left;color:white">
<div style="padding-top:24px;padding-left:8px;padding-right:10px;">&bdquo;{rotatingEmployees.0.text}&rdquo; <a href="{rotatingEmployees.0.link}" style="color:white"><f:translate key="read_more">[read more]</f:translate></a>
<div style="float:right;font-style:italic;">{rotatingEmployees.0.name}<f:if condition="{rotatingEmployees.0.rank}">, {rotatingEmployees.0.rank}</f:if></div></div>
</div>
