<div id="helfen_kann_jeder_citysign_content" onClick="citysignStartup(true, false);">Meine Stadt</div>
<div style="display:none" id="helfenkannjeder_citysign_description">{f:translate(key: 'citysign_description') -> f:format.nl2br()}<f:link.page pageUid="{settings.page.privacy}">{f:translate(key: 'citysign_description_dataprivacy')}</f:link.page>.</div>
<script type="text/javascript">
var CITYSIGN_AJAX_URL = '{f:uri.action(action:'ajaxrememberaddress', pageType: 1313766323)}';
var CITYSIGN_CONSTANT_BACKGROUND_IMAGE = 'url({f:uri.resource(path:'Images/citysign_background.png')})';
var CITYSIGN_CONSTANT_BACKGROUND_IMAGE_YOUTH = 'url({f:uri.resource(path:'Images/generator_background_youth.png')})';
var CITYSIGN_CONSTANT_ARROW_IMAGE = 'url({f:uri.resource(path:'Images/generator_arrow.png')})';
var CITYSIGN_CONSTANT_EXCLEMATIONMARK = '{f:uri.resource(path:'Images/citysign_exclamationmark.png')}';
var CITYSIGN_CONSTANT_LANGUAGE_INPUT_FIELD = '{f:translate(key: 'citysign_input_field')}';
var CITYSIGN_CONSTANT_LANGUAGE_SUBMIT_BUTTON = '{f:translate(key: 'citysign_submit_button')}';
var CITYSIGN_CONSTANT_LANGUAGE_ERROR_NOT_KA = '{f:translate(key: 'citysign_error_not_ka')}';
var CITYSIGN_CONSTANT_LANGUAGE_ERROR_NOT_FOUND = '{f:translate(key: 'citysign_error_not_found')}';
var CITYSIGN_CONSTANT_LANGUAGE_ERROR_TECHNICAL = '{f:translate(key: 'citysign_error_technical')}';
var CITYSIGN_CONSTANT_LANGUAGE_ASK_AGE = '{f:translate(key: 'citysign_ask_age')}';
var CITYSIGN_CONSTANT_LANGUAGE_YOUR_POSITION = '{f:translate(key: 'citysign_your_position')}';
var CITYSIGN_CONSTANT_LANGUAGE_ALSO_IN = '{f:translate(key: 'loog_also_in')}';
</script>
<script type="text/javascript" src="{f:uri.resource(path:'Scripts/citysign.js')}"></script>
